:root {
    --main-clr: #316bd7;
    --h1-clr: #ffffff;
    --second-clr: #5b5b5b;
    --btn-clr: linear-gradient(to right, #4e33ff, #f56695);
    --main-transition: all 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: auto;
    margin-right: auto; */
}

a {
    text-decoration: none;
}


/* 
@media (min-width: 768px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

body {
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    counter-reset: section;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.header {
    width: 250px;
    height: 100%;
    background-color: var(--main-clr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 30px #387cfbb5;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

nav {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

nav ul {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: 80px;
    cursor: pointer;
    transition: var(--main-transition);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

nav ul li a {
    transition: all 0.3s;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff
}

ul li.active {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.559);
}

.icons ul li.active a i {
    color: var(--main-clr)
}

nav ul li.active a {
    color: var(--main-clr)
}

.icons {
    display: none;
}

body .bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: 999;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

@media (max-width: 768px) {
    .header {
        width: 60px;
        padding: 20px 0
    }
    .navigation .icons {
        display: flex;
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    nav {
        display: none;
    }
    .icons ul {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        position: relative;
        margin-top: 50px;
    }
    .icons ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: var(--main-transition);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .icons ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 10px 0px;
        transition: var(--main-transition);
    }
    .icons ul li a i {
        max-width: 100%;
        font-size: 25px;
        color: #fff;
    }
}


/* landing section  */

.landing {
    width: 85%;
    z-index: 100;
    position: relative;
}

.landing .container {
    padding-top: 80px;
    padding-bottom: var(--main-padding-bottom);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    padding-left: 300px;
    padding-right: 10px;
    position: relative;
}

.landing .description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.landing .description h1 {
    color: var(--main-clr);
}

.landing .description p {
    color: var(--main-clr);
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 80%
}

.landing .description button {
    margin-top: 40px;
}

.landing .description a {
    color: var(--main-clr);
}

.landing .image-holder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.landing .image-holder img {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .landing .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding-left: 50px;
        padding-right: 10px;
    }
    .landing .image-holder {
        width: 250px;
    }
}


/* ===================================== */

.project {
    width: 85%;
    position: relative;
    z-index: 100;
}

.project .container {
    padding-top: 150px;
    padding-bottom: var(--main-padding-bottom);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    padding-left: 300px;
    padding-right: 10px;
    z-index: 100;
    position: relative;
}

.project .container .box {
    overflow: hidden;
    box-shadow: 0px 0px 20px #387cfb64;
    border-radius: 10px;
    z-index: 150;
    background-color: #fff
}

.project .container .box img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .project .container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding-left: 70px;
        padding-right: 10px;
    }
}


/* ================================================================ */

.name {
    position: absolute;
    top: 12%;
    left: 30%;
    transform: translate(-50%, -59%);
    color: rgba(5, 76, 169, 0.168);
    font-size: 30px;
    -webkit-transform: translate(-50%, -59%);
    -moz-transform: translate(-50%, -59%);
    -ms-transform: translate(-50%, -59%);
    -o-transform: translate(-50%, -59%);
    z-index: 2;
}

.container::before {
    counter-increment: section;
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    background: rgb(31, 152, 255);
    background: linear-gradient(121deg, rgba(31, 152, 255, 1) 0%, rgba(13, 96, 159, 1) 61%, rgba(8, 81, 134, 1) 85%, rgba(1, 52, 103, 1) 100%);
    width: 100%;
    height: 20%;
    color: rgb(255, 248, 248);
    z-index: -1;
    font-size: 6em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}